# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Auto Verhuur.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jariw\RiderProjects\Auto Verhuur\.idea\.idea.Auto Verhuur\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
